

.swiper_container {
  padding: 2rem 0;
}

.swiper-slide {
  width: 30rem; /* Adjusted width for better responsiveness */
}

.swiper-slide{
  width: 100%; /* Make the image fill the slide */
  border-radius: 1.5rem; /* Slightly reduced rounded corners */
  object-fit: cover; /* Maintain aspect ratio */
}

.slider-controler .swiper-pagination {
  width: 15rem !important;
  bottom: 1rem;
}

.slider-controler .swiper-pagination .swiper-pagination-bullet {
  background: var(--primary); /* Style pagination bullets */
}

.slider-controler .swiper-pagination .swiper-pagination-bullet-active {
  background: #f5f5f8;
}
